@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

//font variables

$ff-primary: 'Space Mono', monospace;
$ff-secondary: 'Share Tech Mono', monospace;
$fs-primary: 2rem;
$fs-secondary: 1rem;

//h1 styles

$h1-padding: 0 0.75em;
