@use "./framework/fonts";
@use "./framework/variables";


//general

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: variables.$color-primary-justBlack;
  font-family: fonts.$ff-secondary;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  h1 {
  padding: variables.$h1-padding;
  background-color: variables.$color-primary-DarkTerminal;
  border: 3px solid variables.$color-primary-DarkTerminal;
  margin-bottom: 1em;
  }

  .main__container {
    position: relative;
    padding: variables.$container-padding;
    max-width: 900px;
    min-height: 50vh;
    overflow: hidden;
    font-size: fonts.$fs-secondary;
    line-height: 1.9;
    margin: 0 0.5em;
    color: variables.$color-primary-lightTerminal;
    background-color: variables.$color-primary-uberDarkTerminal;
    background-image: variables.$container-bg-image;


    &::after {
      content: " ";
      position: absolute;
      left: 0;/*  */
      top: 0;
      opacity: 0.5;
      transform: translate3D(0, 0, 0);
      width: 100%;
      height: 120px;
      mix-blend-mode: screen;
      background-color: variables.$color-primary-alienTerminal;
      background-image: linear-gradient(transparent 50%, rgba(variables.$color-primary-justBlack, .5) 50%),
       linear-gradient(to top, variables.$color-primary-strangeTerminal, rgba(variables.$color-primary-justBlack, 0) 110%);
      background-size: 15px 15px, 100%; //creates a set of stripes
      animation: scan 2.5s linear infinite, blink 0.6s infinite;
      }
    
  }  


  .block {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: screen;
  opacity: 0.65;
  background-size: 100 100;
  animation: flicker 240ms infinite;
  // background-image: url(http://api.thumbr.it/whitenoise-300x300.png?background=0a2406ff&noise=142238&density=85&opacity=100);
  background: repeating-linear-gradient(rgba(10, 27, 41, 0.3) 1px,
   rgba(10, 27, 41, 0.1) 2px, rgba(0, 0, 0, 0) 5px);
  }

}



//keyframes animations

@keyframes blink {
  0% {
  opacity: 0.7}

  15% {
  opacity: 0.4 }
    
  20% { 
  opacity: 0.7 }
   
  23% {
  opacity: 0.3 }
    
  27% { 
  opacity: 0.7 } 
   
  50% {
  opacity: 0.8 }
    
  60% {
  opacity: 0.5}
    
  61% {
  opacity: 0.8 }
    
  62% { 
  opacity: 0.6 }
   
  67% {
  opacity: 0.7}
    
  69%{
  opacity: 0.4 }
    
  77%{ 
  opacity: 0.7 } 
   
  80% {
  opacity: 0.3 }
    
  100%  {
  opacity: 0.7 } 
}

  
@keyframes scan { 
  0% {transform: translate3D(0, -100px, 0)}

  100% {transform: translate3D(0, 600px, 0)}
}


@keyframes flicker {
  0% {
    transform: translateY(1px);;
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1px);
  }
}