body {
    /* font-family: 'Oswald', 'sans-serif';
    /* background-color: #1c1c1c;  Dark background color for contrast    */
    /* color: #fbfbfb; Light text color for readability */ 
    background-color: #262323; /* Enhanced dark background */
    font-family: "Share Tech Mono", monospace;
    color: #D3D3D3; /* Bright cyan for high contrast */
    min-height: 100vh;
    /* display: flex;
    justify-content: center; */
  }
  

a {
    color: red; /* Set all links to red color */
    text-decoration: none; /* Optional: Remove underline from links */
}

a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

h1, h2, h3, h4, p, li {
    font-family: 'Oswald', 'sans-serif';
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

h4 {
    font-size: 32px;
}

li {
    font-size: 20px;
}

.vt-content a {
    color: #8B0000;
    text-decoration: none;
}

.vt-content a:hover {
    text-decoration: underline;
}

.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}

@media (max-width: 768px) {
    .vertical-timeline::before {
        display: none;
    }
}

/* Responsive adjustments if necessary */
@media (max-width: 768px) {
    .intro-box {
        flex-direction: column; /* Stacks the image and content vertically on smaller screens */
    }
}

.about-section, .education-section, .publications-section, .projects-section {
    color: #fbfbfb; /* Light text color for readability */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Adjust spacing */
    z-index: 1;
    width: 80%;
    padding: 20px;
    background: rgba(49, 47, 47, 0.6);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 10px;
    color: white;
    width: 0 auto;
    height: 0 auto;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
}

.container-footer {
    /* display: flex; */
    align-items: center;
    /* justify-content: space-around; Adjust spacing */
    /* z-index: 1; */
    /* width: 80%; */
    /* padding: 20px; */
    background: rgba(248, 242, 242, 0.6);
    text-align: center; /* Keeps text centered within the container */
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.5); */
    /* border-radius: 10px; */
    /* color: white; */
}

.vcenter, .content-side {
    position: relative;
    z-index: 1; /* Ensures these elements are above the canvas */
}


.intor-box-wrapper {
    position: relative; /* This setting helps with positioning inner elements absolutely */
    height: 100%;       /* Ensure it takes the full height of its parent */
    z-index: 5;         /* Above the canvas but under the image */
    padding: 20px;
    background: #262323; /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Adds depth */
}


.about-section {
    background-color: #262827; /* Dark background for About Me */
}


/* For About Me section paragraph text */
.about-section p {
    color: #ffffff; /* Set the color of the paragraph text to white */
}

/* For links inside the About Me section */
.about-section a {
    color: gray; /* Ensure links remain blue */
    text-decoration: none; /* Remove underline from links */
}

.about-section a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

.research-interests {
    list-style-type: disc;
    padding-left: 20px; /* Adds padding to the left for indentation */
}

.research-interests li {
    margin-left: 20px; /* Additional margin for indentation */
    font-size: 22px; /* Adjust font size if needed */
}

.education-section {
    background-color: #262323; /* Darker gray background for Education */
    font-size: 22px; /* Larger font size */
    color: #fbfbfb; /* Light text color for readability */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
}


.icon-box.ib-edu .title,
.icon-box.ib-edu .subtitle,
.icon-box.ib-edu .description {
    margin-bottom: 5px; /* Adds bottom margin to each element to avoid overlap */
    color: #fbfbfb; /* Light text color for readability */
    font-size: 16px; /* Larger font size for text */
}

.icon-box.ib-edu .oli-diploma {
    color: #388E8E; /* Set the color of the diploma icon */
}



.publications-section {
    background-color: #646060; /* Dark background for Major Publications */
}

.projects-section {
    background-color: #2a2a2a; /* Dark background for Selected Projects section */
}


.project-item {
    margin-bottom: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: #3a3a3a; /* Card background color */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.project-item:hover {
    transform: translateY(-10px);
    opacity: 0.8;
}

.project-details b {
    width: 300px;
    color: #fbfbfb; /* Ensure bold text is visible */
}


#canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.img-side {
    max-width: 300px;  /* Limit the width to avoid it taking too much space */
    position: relative; /* Position it absolutely within its parent */
    top: 50%;           /* Center it vertically */
    left: 0px;         /* Give some left margin from the canvas */
    transform: translateY(-50%); /* Adjust vertical alignment */
    z-index: 10;        /* Ensure it's above the terrain canvas */
    flex: 1; /* Allows the image side to take up space flexibly */
    padding: 10px; /* Spacing around the image */
}

.info-cards {
    background-color: rgba(16, 15, 15, 0.1); /* Transparent background */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust based on preference */
    height: 220%;
}

.info-card {
    background-color: rgba(16, 15, 15, 0.1); /* Transparent background */
    color: white; /* Set text color for visibility */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    width: 100%; /* Width adjustment to fit side by side, considering padding/margin */
    /* min-height: 10vh; */
    margin: 10px; /* Margin for spacing */
    float: left; /* Align side by side */
    height: 10%; /* Increased height */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Evenly space children */
    align-items: center; /* Center children horizontally */
  }


.info-card h1, .info-card p {
    margin: 5px 0; /* Small margin for spacing */
}

.profile-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #fff;
}


.title h1 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
}

.title p {
    font-size: 16px;
    color: #ccc; /* Lighter text for the subtitle */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .info-card {
      width: 100%; /* Full width for small screens */
      margin-bottom: 20px; /* Additional bottom margin for stacking */
    }
  }

/* Footer section background */
/*  */

