@import url('variables.css');
/* Base Styles */
img {
    max-width: 100%;
}

button,
.btn {
    outline: none !important;
}


/* Example Usage of Updated Gradient */
.bg-gradient {
    background: var(--primary-gradient);
    color: #f0e4f7; /* Light pinkish text to match */
}

body {
    background-color: var(--primary-gradient); /* Very light gray for a soothing background */
    font-family: "Share Tech Mono", monospace;
    min-height: 100vh;
}

/* Links */
a {
    color: #89AED8; /* Soft pastel blue for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #2C3E50; /* Darker shade on hover */
}

/* Typography */
h1, h3, h4, p, li {
    font-family: 'Oswald', sans-serif;
    color: #4D5656; /* Softer dark gray for headings */
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

p, li {
    font-size: 20px;
}

.bengali-text {
    margin: 20px;
    padding: 0;
    line-height: 200%;
    font-family: 'Noto Sans Bengali', sans-serif;
    color: white;
    font-size: 16px;
}


.with-sideline {
    text-align: left;
    position: relative;
    padding-left: 70px;
}

.with-sideline:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #4b4b4b;
    height: 1px;
    width: 60px;
}

.heading-with-sub {
    margin-bottom: 30px;
}

.heading-with-sub .title, .heading-with-sub h3.title {
    margin-bottom: 10px;
}

.heading-with-sub .subtitle {
    color: #707070;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 10px;
}

#contents {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #252525;
}

/* Section Styling */
.section {
    background-color: #281b2d; /* Dark purplish background */
    position: relative;
    z-index: 2;
    padding: 120px 0;
}

#header {
    background-color: var(--color-header); /* Semi-transparent dark purple */
    border-bottom: 1px solid var(--color-header); /* Darker purple border for separation */
    box-shadow: 0px 2px 10px -7px rgba(0, 0, 0, 0.5);
    position: fixed; /* Keep the header fixed to the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other elements */
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}

/* Transparent background when not sticky */
#header.trans:not(.is-sticky) {
    background-color: transparent;
    border: none;
    box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.1);
}

/* Make the header visible when sticky */
#header.is-sticky .visible-sticky {
    display: block; /* Show sticky content */
    color: #f0e4f7;
}

#header .visible-sticky {
    display: none; /* Hide initially */
    color: #f0e4f7;
}

#header .logo-wrapper {
    max-width: 250px;
}


#header .logo-wrapper a:hover,
#header .logo-wrapper a:focus {
    text-decoration: none;
}

#header .logo-wrapper img {
    max-height: 46px;
    width: auto;
}

#header .logo-wrapper img:first-child {
    display: inline-block;
}

#header .text-logo {
    text-decoration: none;
}

#header .text-logo>img {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    max-height: none !important;
}

#header .text-logo .text-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
}

#header .text-logo .text-wrapper .title {
    font-size: 12px;
    margin-bottom: 0;
}

#header .text-logo .text-wrapper .title span {
    font-size: 20px;
    display: block;
}

#header #primary-menu,
#header .header-icons {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
}

#header #primary-menu>*,
#header .header-icons>* {
    min-width: 30px;
    text-align: center;
}

#header .ol-mobile-trigger {
    display: inline-block;
    text-align: center;
}

#header .ol-mobile-trigger {
    display: none;
    padding: 0 10px;
}

#header .ol-mobile-trigger .hamburger-box {
    position: relative;
    top: 11px;
    width: 24px;
}


#header .ol-mobile-trigger .hamburger-inner:before {
    top: 7px;
}

#header .ol-mobile-trigger .hamburger-inner:after {
    top: 14px;
}


/* is used at 2level beside logo */

#header .logo-wrapper {
    float: left;
}

#header.trans:not(.is-sticky) {
    background-color: transparent;
    border: none;
    box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.1);
}

.logo-wrapper a {
    display: block;
}

.head-main {
    text-align: right;
    line-height: 100px;
}

.head-main.text-center {
    text-align: center;
}

ul#primary-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 15px;
}


/* General styles */

ul#primary-menu li {
    position: relative;
    color: #b1b1b1;
}

ul#primary-menu li a {
    text-decoration: none;
    font-family: "Play", sans-serif;
    display: block;
    padding: 11px 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b1b1b1;
    font-size: 12px;
}

ul#primary-menu li a:hover,
ul#primary-menu li a:focus {
    color: #f5f5f5;
    background-color: var(--color-primary-menu);
}


/* first level */

ul#primary-menu>li {
    display: inline-block;
    position: relative;
}

ul#primary-menu>li>a {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0px;
    padding: 0px 2px 0px 18px;
    color: var(--color-primary-menu);
}

ul#primary-menu>li>a:hover,
ul#primary-menu>li>a:focus {
    background-color: transparent;
    color: var(--color-primary-menu-hover);
}

ul#primary-menu>li.current-menu-item>a {
    font-weight: bold;
}


/* second level */


/*
	position: relative !important;*/

    @media (min-width: 1200px) {
        body:not(.side-header) #header ul#primary-menu {
            display: inline-block !important;
        }
    }
    
    @media (max-width: 1200px) {
        /* Display hamburger trigger only on mobile */
        #header .ol-mobile-trigger {
            display: inline-block;
        }
    
        /* Hide primary menu by default on mobile */
        #header ul#primary-menu {
            display: none;
        }
    
        /* Show primary menu when the "show" class is added */
        #header ul#primary-menu.show {
            display: block;
        }
    
        /* Hide submenus by default */
        #header ul#primary-menu .sub-menu {
            display: none;
        }
    
        /* Show submenu when "is-open" is added to the parent */
        #header ul#primary-menu .menu-item-has-children.is-open > .sub-menu {
            display: block;
        }
        
    }
    


#header.trans:not(.is-sticky) {
    background-color: transparent;
    border: none;
    box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.1);
}

#contents .container {
    z-index: 2; /* Ensures it's above the canvas */
    width: 100%; /* Adjust width as necessary */
    max-width: 960px; /* Max width can be set to ensure content does not stretch too far on larger screens */
    margin: auto; /* Centers the container in the available horizontal space */
}

/* this is used for rev slider */

/* Button Styles */
.btn-info {
    background-color: #5e3d6b; /* Darker purple for buttons */
    color: #f0e4f7; /* Light pastel pinkish text */
    border: 1px solid #5e3d6b;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #7a538a; /* Slightly lighter purple on hover */
    color: #f0e4f7;
}


.btn {
    background-color: #A1C6EA; /* Pastel blue */
    border: 1px solid #A1C6EA;
    color: #2C3E50; /* Dark gray text for readability */
    text-align: center;
}

.btn:hover,
.btn:focus {
    background-color: #89AED8; /* Darker pastel blue on hover */
    color: #2C3E50;
}

.btn-round {
    border-radius: 4px;
}

.btn-thick-border {
    border-width: 3px;
}

.social-icons {
    font-size: 0;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0px 0px;
}

.social-icons li:first-child {
    margin-left: 0;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    transition: all 0.25s ease;
    color: #b5b5b5;
}

.social-icons a:hover,
.social-icons a:focus {
    color: #333;
}

/*	iconbox
 *	===================================================
 */

/* Icon Box for Education */
.icon-box.ib-edu {
    display: flex;
    align-items: flex-start;
    overflow: hidden; /* Ensures overflow text is not visible */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows the available space */
    padding: 15px; /* Adds padding inside each box */
    text-align: left;
    margin-bottom: 20px; /* Adds space between boxes */
}

/* Icon Styling */
.icon-box.ib-edu > i {
    flex-shrink: 0; /* Prevents the icon from shrinking */
    width: 70px;
    height: 70px;
    font-size: 30px;
    color: #252525;
    line-height: 70px;
    text-align: center;
    border: 1px solid #252525;
    border-radius: 50%;
    margin-right: 20px;
}

/* Wrapper for Text in Icon Box */
.icon-box.ib-edu .ib-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0; /* Remove unnecessary padding */
    margin-left: 0; /* Align content with the icon */
}

/* Title Styling */
.icon-box.ib-edu .title {
    font-size: 16px; /* Adjust font size as needed */
    margin-bottom: 5px;
}

/* Description and Subtitle Styling */
.icon-box.ib-edu .subtitle,
.icon-box.ib-edu .description {
    font-size: 18px;
    color: #636363;
    margin: 0; /* Ensure consistent spacing */
    margin-top: 0px; /* Ensure no extra space above the description */
    margin-bottom: 80px; /* Remove bottom margin to reduce spacing */
}


ul {
    line-height: 1.5;
}


/* Gradient Background for Sections */
.bg-dark {
    background: linear-gradient(135deg, #3d1e3a, #4b244a, #2f1a31); /* Dark purples for a deep gradient */
    color: #d3d3e1; /* Light text to contrast with the dark background */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Slight shadow for depth */
}

/* Neon Glow Text for Dark Background Sections */
.bg-dark h1, .bg-dark h3, .bg-dark h4, .bg-dark p {
    color: #ff99cc; /* Neon pink for text */
    text-shadow: 0 0 10px rgba(255, 153, 204, 0.8); /* Neon glow effect for text */
}

/* summary-box */

.title {
    font-size: 36px;
    font-family: "Merriweather", serif;
    color: #fff;
    margin-top: 0;
    margin-bottom: 50px;
}

.title span {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

 .subtitle {
    position: absolute;
    bottom: -30px;
    color: #333;
    font-family: 'Sintony', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 0;
}


.search-area.fullscreen .search-field input::webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
}


.row:not(.multi-columns-row) [class*="col-"]+[class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .row:not(.multi-columns-row) [class*="col-md-"]+[class*="col-md-"] {
        margin-top: 0;
    }
}


@media only screen and (max-width: 1024px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}


/* sm and xs devices */

@media (max-width: 992px) {
    #footer #footer-main {
        padding: 60px 0;
    }
    .section {
        padding: 60px 0;
    }
}


/* xs devices */

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 14px;
        margin-bottom: 15px;
    }
    #footer #footer-main {
        padding: 40px 0;
    }
    .section {
        padding: 40px 0;
    }
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width: 22px;
    }
    #header .logo-wrapper img {
        max-height: 36px;
    }
    #header .ol-mobile-trigger {
        padding: 0;
        margin-left: 10px;
    }
    #header .ol-mobile-trigger {
        min-width: 30px;
    }
/* } */


/* small mobile devices */


/*  Responsive text aligns */
}
