/* Base Styles */
img {
    max-width: 100%;
}

button,
.btn {
    outline: none !important;
}

#footer *:last-child {
    margin-bottom: 0 !important;
}

/* Width & Heights */

/* Overlays */

/* Overlay Colors & Gradients */

/* Spacing */

/* CSS Variables */
:root {
    --hvh-multiplier: 1;
    --alpha: 50;
    --m-top: 10;
    --p-bottom: 10;
    --pad: 10;
    --p-left: 10;
    --p-right: 10;
    --pull-up: 10;
    --spacer: 10;
    --spacer-xs: 5;
    --spacer-sm: 8;
}

/* Spacers */

/* Overlay Opacity Levels */

/* Shadow & Shadow-Line */

/* Additional Styles */


/* 
	++ Vertical-Center utility with absolute positioning
	=======================================================
	The parent of .vcente-wrapper should have a height
	and be positioned relatively
*/


/*	Typography
 *	===================================================
 */

 body {
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    color: #636363;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    line-height: 24px;
    margin-bottom: 20px;
    color: #777;
}

a {
    color: #505050;
    text-decoration: none;
}

a:hover, a:focus {
    color: #FF3366;
}

h1, h3, h4 {
    font-family: "Play", sans-serif;
    font-weight: 700;
    color: #4b4b4b;
    margin-bottom: 15px;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.with-sideline {
    text-align: left;
    position: relative;
    padding-left: 70px;
}

.with-sideline:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #4b4b4b;
    height: 1px;
    width: 60px;
}

.heading-with-sub {
    margin-bottom: 30px;
}

.heading-with-sub .title, .heading-with-sub h3.title {
    margin-bottom: 10px;
}

.heading-with-sub .subtitle {
    color: #707070;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 10px;
}

#contents {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section {
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 120px 0;
}

/* Bootstrap multi-columns-row */

/* Side-header layout */


/*  adjust widths at side-header layout */


/*	Headers
 *	===================================================
 *  - Header variations
 */

#header {
    position: relative;
    z-index: 500;
    border-bottom: 1px solid #dedede;
    box-shadow: 0px 2px 10px -7px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

#header .visible-sticky {
    display: none;
}

#header .logo-wrapper {
    max-width: 250px;
}

#header .logo-wrapper a {}

#header .logo-wrapper a:hover,
#header .logo-wrapper a:focus {
    text-decoration: none;
}

#header .logo-wrapper img {
    max-height: 46px;
    width: auto;
}

#header .logo-wrapper img:first-child {
    display: inline-block;
}

#header .text-logo {
    text-decoration: none;
}

#header .text-logo>img {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    max-height: none !important;
}

#header .text-logo .text-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 10px;
}

#header .text-logo .text-wrapper .title {
    font-size: 12px;
    margin-bottom: 0;
}

#header .text-logo .text-wrapper .title span {
    font-size: 20px;
    display: block;
}

#header #primary-menu,
#header .header-icons {
    display: inline-block;
    vertical-align: middle;
    line-height: inherit;
}

#header #primary-menu>*,
#header .header-icons>* {
    min-width: 30px;
    text-align: center;
}

#header .ol-mobile-trigger {
    display: inline-block;
    text-align: center;
}

#header .ol-mobile-trigger {
    display: none;
    padding: 0 10px;
}

#header .ol-mobile-trigger .hamburger-box {
    position: relative;
    top: 11px;
    width: 24px;
}

#header .ol-mobile-trigger .hamburger-inner {}

#header .ol-mobile-trigger .hamburger-inner:before {
    top: 7px;
}

#header .ol-mobile-trigger .hamburger-inner:after {
    top: 14px;
}


/* is used at 2level beside logo */

#header .logo-wrapper {
    float: left;
}

#header.trans:not(.is-sticky) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-wrapper a {
    display: block;
}

.head-main {
    text-align: right;
    line-height: 100px;
}

.head-main.text-center {
    text-align: center;
}


/* side-header nav */


/*@media only screen and (max-width : 1200px) {
	#header #primary-menu{
		display: none;
	}
}*/


/*	Navigations
 *	===================================================
 */

ul#primary-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 15px;
}


/* General styles */

ul#primary-menu li {
    position: relative;
}

ul#primary-menu li a {
    text-decoration: none;
    font-family: "Play", sans-serif;
    display: block;
    padding: 11px 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b1b1b1;
    font-size: 12px;
}

ul#primary-menu li a:hover,
ul#primary-menu li a:focus {
    color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0.05);
}


/* first level */

ul#primary-menu>li {
    display: inline-block;
    position: relative;
}

ul#primary-menu>li>a {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0px;
    padding: 0px 2px 0px 18px;
    color: rgba(0, 0, 0, 0.7);
}

ul#primary-menu>li>a:hover,
ul#primary-menu>li>a:focus {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.9);
}

ul#primary-menu>li.current-menu-item>a {
    font-weight: bold;
}


/* second level */


/*
	position: relative !important;*/

@media (min-width: 1200px) {
    body:not(.side-header) #header ul#primary-menu {
        display: inline-block !important;
    }
}

@media (max-width: 1200px) {
    #header .ol-mobile-trigger {
        display: inline-block;
    }
    #header ul#primary-menu {
        display: none;
    }
}


/*	Header skins
 *	===================================================
 */


/* 
	color management of Header
*/

#header {}

#header.trans:not(.is-sticky) {
    background-color: transparent;
    border: none;
    box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.1);
}


/*	Footer
 *	===================================================
 */

#footer {
    position: relative;
    z-index: 5;
    font-size: 13px;
}

#footer #footer-main {
    background-color: #f5f5f5;
    padding: 100px 0;
}

#footer a {
    /*color:$chaos_textinlight_lighter;*/
    text-decoration: none;
    /*&:hover,
		&:focus {
			color:$chaos_dark;
		}*/
}

#footer p {
    line-height: 2;
}


/*	Page Titles
 *	===================================================
 *  - Title variations
 */

/* Additional styling for the container */
#contents .container {
    z-index: 2; /* Ensures it's above the canvas */
    width: 100%; /* Adjust width as necessary */
    max-width: 960px; /* Max width can be set to ensure content does not stretch too far on larger screens */
    margin: auto; /* Centers the container in the available horizontal space */
}

/* this is used for rev slider */


/*&.set-bg{
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	}*/


/*	Breadcrumbs
 *	===================================================
 *  - Title variations
 */


/*	theme bottons
 *	===================================================
 *  - varius layouts
 */

.btn-info {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none !important;
}

.btn {
    display: inline-block;
    border-radius: 0;
    font-family: "Play", sans-serif, sans-serif;
    transition: all 0.25s ease;
    text-transform: uppercase;
    /* Default size*/
    padding: 15px 30px;
    font-size: 14px;
    font-weight: bold;
    /* default color and border*/
    background-color: #fff;
    border: 1px solid #dedede;
    color: #777;
}

.btn i {
    position: relative;
}

.btn:hover,
.btn:focus {
    background-color: #eee;
    color: #333;
}


/* by size */

.btn-medium {
    padding: 12px 30px;
    font-size: 14px;
}

.btn-small {
    padding: 8px 20px;
    font-size: 12px;
}


/* by roundness */

.btn-round {
    border-radius: 4px;
}


/* thick borders */

.btn-thick-border {
    border-width: 3px;
}


/* wide bottons */

.btn-block {
    display: block;
}


/* skins */


/* btn trans*/


/* icons */

.btn i {
    left: -10px;
}


/*	ui - social icons
 *	===================================================
 */

.social-icons {
    font-size: 0;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0px 0px;
}

.social-icons li:first-child {
    margin-left: 0;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    text-decoration: none;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    transition: all 0.25s ease;
    color: #b5b5b5;
}

.social-icons a:hover,
.social-icons a:focus {
    color: #333;
}


/*	shop
 *	===================================================
 */


/*	iconbox
 *	===================================================
 */

.icon-box.ib-edu {
    /* display: flex; */
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden; /* Ensures overflow text is not visible */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows the available space */
    /* padding: 0; */
    padding: 15px; /* Adds padding inside each box */
    text-align: left;
    margin-bottom: 20px; /* Adds space between boxes */
}

.icon-box.ib-edu>i {
    flex-shrink: 0; /* Prevents the icon from shrinking */
    float: left;
    width: 70px;
    height: 70px;
    font-size: 30px;
    color: #252525;
    line-height: 70px;
    text-align: center;
    border: 1px solid #252525;
    border-radius: 50%;
    margin-bottom: 0;
    margin-right: 20px;
}

.icon-box.ib-edu .ib-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding-top: 10px; */
    margin-left: 90px;
    /* padding-right: 20px; */
    padding: 0 20px; /* Adjust padding to taste, but keep it uniform on sides */
}

.icon-box.ib-edu .title {
    font-size: 14px;
    margin-bottom: 5px;
}

.icon-box.ib-edu .description {
    white-space: nowrap;
    font-size: 12px;
    color: #636363;
}

.icon-box.ib-edu .subtitle {
    margin-bottom: 2px; /* Reduce or adjust the bottom margin after the subtitle */
    font-size: 12px; /* Ensure the font size is appropriate */
    color: #636363;
}

.icon-box.ib-edu .description {
    margin-top: 0;
    font-family: "Play", sans-serif;
    font-family: 12px;
}


/*	ui-side-navigations
 *	===================================================
 */


/*General styles for all levels*/


/*First level li*/


/*Second level li*/


/*	ui-Accordions & Toggles & Tabs
 *	===================================================
 */


/*Tabs*/


/*	numbers
 *	===================================================
 */


/*	Callouts
 *	===================================================
 */


/*	Testimonials
 *	===================================================
 */


/*	Alerts / Notifications
 *	===================================================
 */


/*	Modals
 *	===================================================
 */


/*	List icons
 *	===================================================
 */


/*	Progress bars
 *	===================================================
 */


/*	People
 *	===================================================
 */


/*	Tables
 *	===================================================
 */


/*	Grid items
 *	===================================================
 *  items related to grid
 */


/*&:before{
			background-color: #3a3a3a;
		}*/


/*	Portfolio Grid
 *	===================================================
 */


/* used for one column grid*/


/* Small Devices, Tablets */


/* Extra Small Devices, Phones */


/* navigation box */


/*	Partners
 *	===================================================
 */


/*	Images
 *	===================================================
 */


/*	hovers
 *	===================================================
 */


/*	Videos
 *	===================================================
 */

/*	list styles
 *	===================================================
 */

ul {
    line-height: 1.5;
}


/*	paginations
 *	===================================================
 */


/*	Form elements
 *	===================================================
 */


/*	extend bg
 *	===================================================
 */


/*	Timelines
 *	===================================================
 */


/*	News
 *	===================================================
 */


/*	events
 *	===================================================
 */


/* in case you want the event-nav texts to be light add this class to it */


/*to remove the spaces*/


/*to remove the spaces*/


/*	sections
 *	===================================================
 */
/*	revolution sliders
 *	===================================================
 */


/*	General css
 *	===================================================
 *	keep this at the bottom
 */


/* single icons */


/* twitter carousel */


/* background color for elements */

.bg-dark {
    background-color: #282828 !important;
}


/* summary-box */

.title {
    font-size: 36px;
    font-family: "Merriweather", serif;
    color: #505050;
    margin-top: 0;
    margin-bottom: 50px;
}

.title span {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

 .subtitle {
    position: absolute;
    bottom: -30px;
    color: #333;
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 0;
}


/* dark-wrapper */


/* particles */

.search-area.fullscreen .search-field input::webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
}

/* .ol-price-table .head.shadow {} */

/* .ol-price-table.featured .head.shadow {} */


/*  Responsive Containers */


/* this is for typed.js */


/*Handle stacked columns on different sizes*/

.row:not(.multi-columns-row) [class*="col-"]+[class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 992px) {
    .row:not(.multi-columns-row) [class*="col-md-"]+[class*="col-md-"] {
        margin-top: 0;
    }
}


/*Responsive media queries*/

@media only screen and (max-width: 1024px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}


/* sm and xs devices */

@media (max-width: 992px) {
    #footer #footer-main {
        padding: 60px 0;
    }
    .section {
        padding: 60px 0;
    }
}


/* xs devices */

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    h4 {
        font-size: 14px;
        margin-bottom: 15px;
    }
    #footer #footer-main {
        padding: 40px 0;
    }
    .section {
        padding: 40px 0;
    }
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width: 22px;
    }
    #header .logo-wrapper img {
        max-height: 36px;
    }
    #header .ol-mobile-trigger {
        padding: 0;
        margin-left: 10px;
    }
    #header .ol-mobile-trigger {
        min-width: 30px;
    }
/* } */


/* small mobile devices */


/*  Responsive text aligns */
}